.App {
  text-align: center;
  color: aquamarine;
  background-color: black;
}


h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: magenta;
}

iframe {

  width: 560px; /* you have to have a size or this method doesn't work */
  height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

  position: relative; /* positions out of the flow, but according to the nearest parent */
  top: 100px; right: 0; /* confuse it i guess */
  bottom: 0; left: 20%;
  margin: auto; /* make em equal */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerText {
  color: blueviolet;
  text-align: center;
  font-weight: bold;
}
